<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <nav>
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">CRUD</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="./add-item">Add Item</a></li>
                </ul>
            </div>
        </nav>
        <div class="container center-align">
            <i class="material-icons prefix">sentiment_dissatisfied</i>
            <h1> Opps....</h1>
            <h2>404 - Page Not Found</h2>




        </div>
    </body>

</html>